    body {
        background-color: rgb(108, 74, 38);
        background-image: url("./assets/hexagons_with_casino_games-wallpaper-1920x1080.jpg");
        /* background-position: 0; */
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .game {
        text-align: center;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(8, 2, 109, 0.928) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        border-radius: 20px;
        padding: 1em;
        width: 30em;
    }

    .instructions {
        font-family: Verdana,
        Tahoma, sans-serif;
        text-align: center;        
        color: rgb(0, 0, 0);
        font-size: 17px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(13, 6, 155) 0%, rgba(29, 29, 163, 0.969) 35%, rgb(80, 171, 232) 100%);
        border-radius: 20px;
        padding: 1em;
        width: 70%;
        align-self: center;
    }

    h1 {
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-family: copperplate;
    }
    
    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 80px;
        margin: auto;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        font-size: 50px;
        text-align: center;
        padding: .5em;
        background-color: rgba(103, 227, 81, 0.791);
    }
 
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid ##36494E;
        margin: auto;
        border-radius: 10px;
        font-family: Verdana,
        Tahoma, sans-serif;
        background-color: rgb(82, 104, 83);
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
 
    #print {
        font-family: Verdana,
        Tahoma, sans-serif;
        color: rgb(46, 147, 32);
        font-size: 20px;
    }
